* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.form-container {
  width: 100%;
  max-width: 600px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.form-container h1 {
  color: #d50032;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-container input,
.form-container textarea,
.form-container select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-container button {
  background-color: #d50032;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #b40029;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: none;
}

.ideas-list {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
}

.idea {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.idea-content {
  flex-grow: 1;
}

.idea-actions {
  display: flex;
  gap: 10px;
}

.idea-status {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.idea-status.approved {
  background-color: #d4edda;
  color: #155724;
}

.idea-status.disapproved {
  background-color: #f8d7da;
  color: #721c24;
}

.idea button {
  padding: 5px 10px;
  cursor: pointer;
}

#confirmationMessage,
#errorMessage {
  margin-top: 10px;
  font-size: 16px;
}
